body {
    background-color: white;
    font-size: 1em;
    height: 2200px;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    width: auto;
}

.barra-cabecera {
    background-color: black;
    text-align: center;
    height: 15vh;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
}

#descuento {
    color: white;
    font-size: 25px;
    position: absolute;
    left: 20px;
    right: 20px;
}


#logo {
    position: absolute;
    top: 20%;
    bottom: 20%;
    left: 20%;
    
}

.barra-asignaturas {
    color: white;
    background-color: #cf731e;
    font-size: 18px;
    text-align: center;
    padding: 25px;
    position: fixed;
    bottom: 0;
    width: 100%;
}



a {
    color: white;
    text-decoration: none;
    border-right: solid 3px white;
    margin-right: 15px;
    padding-right: 15px;
}


a:hover {
    color: white;
    font-weight: bolder;
    font-size: larger;
}

.introduccion {
    font-size: 25px;
    margin-top: 5px;
    text-align: center;
    background-color: #cf731e;
}


.portada {
    background-image: url(/assets/portada.jpg);
    position: absolute;
    top: 320px;
    right: 100px;
    left: 250px;
    min-width: 500px;
    max-width: 750px;
    width: 100;
}


.tituloAs {
    font-weight: bold;
    font-size: larger;
    background-color: #fb9c5a;
    color: white;
}

.cajaAsignatura {
    border: solid 3px #cf731e;
    margin-top: 5px;
    font-size: 15px;
    margin-left: 250px;
    margin-right: 300px;
    margin-bottom: 15px;
    background-color: rgb(243, 249, 250);
    width: 800px;
}

.container-asignaturas {
    margin-top: 480px;
    padding-right: 0px;
}

.container-formulario {
    border: 1px solid black;
    height: 1132px;
    position: absolute;
    left: 820px;
    right: 20px;
    top: 0px;
    width: 300px;
}


.asterisco {
    color: #cf731e;
}


.newsletter {
    font-size: 12px;
    color: grey;
}

#textarea{
    position: relative;
    right: 3px;
}


input[type="text"],
input[type="email"],
input[type="number"] {
    border-color: #cf731e;
    position: absolute;
    left: 3px;
    color: #cf731e;
    font-weight: 600;
    margin-bottom: 20px;
    max-width: 250px;
    width: 100%;
}


.sele {
    border-color: blue;
    position: absolute;
    left: 3px;
    max-width: 250px;
    width: 100%;
    border-color: #cf731e;
    color: #cf731e;
    font-weight: bold;
}

.principal {
    background-image: url(/assets/portada.jpg);
    height: 400px;
    width: 107%;
    background-size: cover;
}

.parrafo-principal {
    color: white;
    font-size: 25px;
    font-weight: 900;
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 10px;
    width: 100%;
    text-align: center;
    background-color: grey;
   
}


input[type=submit] {
    color: white;
    background-color: #CF731E;
    font-size: larger;
    position: absolute;
    left: 90px;
    right: 90px;
    border-radius: 60px;
}


input:not(input[type="submit"]):valid{
      color: green;
}

.p {
    box-shadow: 5px 5px 10px #fb9c5a;
}

.content {
    margin-right: 300px;
    margin-left: 180px;
    max-width: 1240px;
}

.content p {
    text-align: justify;
    padding: 20px;
    margin-left: 40px;
}

.foto2 {
    float: right;
    max-width: 500px;
    width: 100%;
    padding-left: 25px;
}

pre {
    font-family: poppins;
    margin-left: 5px;
}

span {
    font-weight: 600;
    color: white;
    
}

.content span {
    font-weight: 800;
    color: #CF731E;
}

.llamaya{
    margin-top: 50px;
    font-weight: 900;
    text-align: center;
}

.llamaya p{
    background-color:#CF731E;
    color: white;
    height: 35px;
  border-radius: 60px;
}